<article class="recipe-detail">
    <img src={{image}} alt={{title}}>
    <h2>{{title}}</h2>
    <p>{{description}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Ingredients:</h3>
    <p>{{ingradients}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>Instructions:</h3>
    <p>{{instructions}}</p>

    <h3>-----------------------------------------------------</h3>

    <h3>People Who Recommend: {{recommendList.length}}</h3>
</article>

{{#if user}}

<div class="command">
    {{#if isOwner}}
    <a href="/details/{{_id}}/edit">Edit</a>
    <a href="/details/{{_id}}/delete">Delete</a>

    {{else if isRecommend}}
    <p>You've already recommended this recipe!</p>

    {{else}}
    <a href="/details/{{_id}}/recommend">Recommend</a>
    {{/if}}
</div>

{{/if}}