<!-- Create Page (Only for logged-in users) -->
<section id="create">
    <div class="form">
        <h2>Add Stone</h2>
        <form class="create-form" method="POST" >
            <input type="text" name="name" id="name" placeholder="Name" value="{{name}}"/>
            <input type="text" name="name" id="category" placeholder="Category" value="{{name}}"/>
            <input type="text" name="name" id="color" placeholder="Color" value="{{name}}"/>
            <input type="text" name="image" id="stone-img" placeholder="Image" value="{{image}}"/>
            <input type="text" name="name" id="location" placeholder="Location" value="{{name}}"/>
            <input type="text" name="name" id="formula" placeholder="Formula" value="{{name}}"/>
            <textarea id="description" placeholder="Description..." name="description">{{description}}</textarea>

            <button type="submit">Create</button>
        </form>
    </div>
</section>